<select name="category" id="category" class="form-control">
    {{#if category}}
        {{{selectedCategory list category}}}

    {{else}}
        <option value="Art">Art</option>
        <option value="Building">Building</option>
        <option value="Detail">Detail</option>
        <option value="Landscape">Landscape</option>
        <option value="Redstone">Redstone Contraption</option>
        <option value="Other">Other</option>
    {{/if}}


</select>
