<footer>
    <div class="container">
        <div class="row legal-links">
            <div class="col-md-12">
                <p>
                    <a href="/terms-of-use">Terms of Use</a>
                    <a href="/privacy-policy">Privacy Policy</a>
                    <a href="/report-bug">Report a Bug</a>
                    <a href="/advertising">Advertising</a>
                    <a href="/contact">Contact</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>&copy 2016 minecraftstructuredatabase.com.
                    <br>All rights reserved. All structures copyright of their
                    creator.
                    <br><a href="http://www.minecraft.net">Minecraft</a> is copyright <a href="http://mojang.com">Mojang
                        AB</a> and is not affiliated with this website</p>
                <p>Created by <a href="http://twitter.com/GearcraftTaylor">Taylor Deakin</a></p>
            </div>
        </div>
    </div>
</footer>