<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <h1>{{siteTitle}}</h1>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="userBox">
                {{#if username}}
                    {{#if image}}
                    {{else}}
                        <img src="https://minotar.net/avatar/{{username}}/64.png">

                    {{/if}}
                    <div class="userBoxText">
                        <h4><a href="/member/{{username}}">{{username}}</a></h4>
                        <a href="/account/dashboard">Account</a>
                        <br><a href="/account/signout">Sign Out</a>
                    </div>
                {{else}}
                <div class="userBoxText">
                    <a href="/account/login">Login</a>
                    <br><a href="/account/signup">Register</a>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>
