<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/faq">FAQ</a></li>
                {{#if username}}
                    <li><a href="/account/add">Add a Structure</a></li>
                {{/if}}
            </ul>
                <form action="/search" method="get" class="navbar-form navbar-right">
                    <div class="form-group form-inline">
                        <input type="text" class="form-control" name="query" placeholder="Search">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="sr-only">Search...</span>
                        </button>
                    </div>
                </form>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>