<!doctype html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/vendor/summernote.css">
    <script src="/js/jquery.js"></script>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>
        {{siteTitle}}
        {{#if pageTitle}}
            | {{pageTitle}}
        {{/if}}

    </title>
{{#if username}}
    <body class="logged-in">
{{else}}
    <body>
{{/if}}

{{>header}}
{{>navbar}}
<div class="wrap">
    <div class="container">
            {{{body}}}
    </div>

</div>
{{>footer}}
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
