<h2>{{pageTitle}}</h2>

<form action="/send-email" method="post">
    <div class="form-group">
        <label for="name">Your Name:</label>
        <input name="name" id="name" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="email">Your Email Address: </label>
        <input name="email" id="email" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="email">Subject: </label>
        <input name="subject" id="subject" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="message">Your Message: </label>
        <textarea name="message" id="message" cols="30" rows="10" class="form-control"> </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
