<h2>Dashboard</h2>

<div class="row">
    <div class="col-sm-4 col-xs-12">
        <h3>Account Settings</h3>
        <ul class="profile">
            <li><a href="/member/{{username}}">Account Home</a></li>
            <li><a href="/account/dashboard/edit">Edit Account Settings</a></li>

        </ul>
        {{#each profile}}

        {{/each}}
    </div>
    <div class="col-sm-8 col-xs-12">
        <h3>Your Structures</h3>
        {{#if structure}}
        {{#each structure}}
            <div class="project">
                <div class="img-container">
                    <img class="img-project" src="/{{screenshot}}"/>
                </div>
                <div class="project-text">
                    <h4 class="project-title"><a href="/structure/{{name}}">{{title}}</a></h4>
                    <p><a href="/structure/{{name}}">View</a> | <a href="/account/edit/structure/{{name}}">Edit</a> | <a
                            href="/account/delete/structure/{{name}}" class="text-danger">Delete</a></p>
                </div>
            </div>

        {{/each}}
        {{else}}
            <p>You haven't submitted any structures yet. <a href="/account/add">Submit one now?</a></p>
        {{/if}}
    </div>

</div>
