<div class="row">
    <div class="col-xs-12">

        <form id="submitForm"
              enctype="multipart/form-data"
              action="/account/submit/structure"
              method="post">
            <div class="col-md-8">
                <h2>New Structure:</h2>
                <div class="form-group">
                    <label for="title" class="control-label">Title:</label>
                    <input required type="text" class="form-control" name="title" id="title" value="{{title}}">
                </div>
                <div class="form-group">
                    <label for="category" class="control-label">Category:</label>
                    {{>categories list='Art,Building,Detail,Landscape,Redstone,Other'}}
                </div>
                <div class="form-group">
                    <label for="summernote">Content:</label>
                    <div id="summernote">{{{content}}}</div>
                </div>
                <textarea id="content" title="content" name="content" style="display: none">
                </textarea>
                <div class="form-group">
                    <label for="tags" class="control-label">Tags:</label>
                    <input name="tags" id="tags" type="text" class="form-control" value="{{tags}}">
                </div>
                <div class="form-group">
                    <label for="credit" class="control-label">Additional Credit:</label>
                    <input name="credit" id="credit" type="text" class="form-control" value="{{credits}}">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="col-sm-4">
                <h3>Files</h3>

                <div class="form-group">
                    {{#if structure}}
                         <p>{{structure}}</p>
                    {{else}}
                        <label for="structure" class="control-label">
                            Structure File: <input required type="file" accept=".nbt" name="structure" id="structure">
                        </label>
                    {{/if}}



                </div>
                <div class="form-group">

                    {{#if screenshot}}
                        <strong>Screenshot:</strong>
                        <img src="/{{screenshot}}" class="img-responsive" id="output"/>
                        <label for="screenshot" class="control-label">
                            <br>Change Structure Screenshot: <input type="file" accept="image/*" name="screenshot" id="screenshot" onchange="loadFile(event)">
                        </label>

                    {{else}}
                        <label for="screenshot" class="control-label">
                            Structure Screenshot: <input required type="file" accept="image/*" name="screenshot" id="screenshot" onchange="loadFile(event)">
                        </label>
                        <img class="img-responsive" id="output"/>

                    {{/if}}

                </div>
            </div>
        </form>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/summernote.min.js"></script>
<script type="text/javascript">
    $("#submitForm").submit(function (event) {
        var markupStr = $('#summernote').summernote('code');
        $("textarea#content").html(markupStr);
        $("content-edit").submit();
    });

    $(document).ready(function () {
        $('#summernote').summernote({
            styleTags: ['p','h2','h3','h4','h5','blockquote'],
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['para', ['ul', 'ol', 'paragraph']]

            ],
            minHeight: 150,
            maxHeight: null,
            focus: true
        });
    });
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };

    loadFile();
</script>