<div class="row">
    <div class="col-md-12">
        <div id="featuredCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#featuredCarousel" data-side-to="0" class="active"></li>
                <li data-target="#featuredCarousel" data-side-to="1"></li>
                <li data-target="#featuredCarousel" data-side-to="2"></li>
                <li data-target="#featuredCarousel" data-side-to="3"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                {{#each featured}}
                    {{#if @first}}
                        <div class="item active">
                            <img src="/{{screenshot}}" alt="{{title}}">
                            {{title}}
                            <div class="carousel-caption">
                                <h3><a href="/structure/{{name}}">{{title}}</a></h3>
                                <p>By <a href="/member/{{author}}">{{author}}</a></p>
                            </div>
                        </div>
                    {{else}}
                        <div class="item">
                            <img src="/{{screenshot}}" alt="{{title}}">
                            <div class="carousel-caption">
                                <h3><a href="/structure/{{name}}">{{title}}</a></h3>
                                <p>By <a href="/member/{{author}}">{{author}}</a></p>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
            <a class="left carousel-control" href="#featuredCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#featuredCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Latest Structures:</h2>
    </div>
</div>
{{#grouping recentPosts 4 }}
    <div class="row">
        {{#each this}}
            <div class="col-md-6">
                <div class="project home-project">
                    <div class="img-container">
                        <img src="/{{screenshot}}" alt="{{name}}">
                    </div>
                    <div class="project-text">
                        <h4 class="project-title"><a href="/structure/{{name}}">{{title}}</a></h4>
                        <p><strong>{{votes}}</strong> Votes
                            <br>Posted about {{elapsed created}}
                            <br>By <a href="/member/{{author}}">{{author}}</a>
                        </p>

                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/grouping}}
