<div class="row">
    <div class="col-sm-12">
        <h2>{{pageTitle}}
        {{#if query}}
            for "{{query}}":
        {{/if}}
        </h2>
    </div>
</div>
{{#if results}}
{{#each results}}
    <div class="row">
        <div class="col-md-12">
            <img class="img-result" src="/{{screenshot}}"/>
            <div class="result-info">
                <h3><a href="/structure/{{name}}">{{title}}</a></h3>
                <p>Author: <a href="/member/{{author}}">{{author}}</a>
                    <br>Category: {{category}}</p>
            </div>
        </div>
    </div>
{{/each}}

{{else}}
    <p>No structures meet that query.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
{{/if}}