<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-3">
        <h1 class="text-center login-title">Log in
            <div class="account-wall">
                <form action="/account/login" method="POST" class="form-signin"><input type="text" name="username"
                                                                                       placeholder="Username"
                                                                                       required="required"
                                                                                       autofocus="autofocus"
                                                                                       class="form-control"/><input
                        type="password" name="password" placeholder="Password" required="required"
                        class="form-control"/>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    <span class="clearfix"></span></form>
            </div>
            <h5>Don't have an account? <a href="/account/signup">Create one now!</a></h5>
            <div id="message">{{message}}</div>
        </h1>
    </div>
</div>
