<div class="col-sm-4 col-xs-12">
    <h3>Profile</h3>
    <img src="https://minotar.net/avatar/{{name}}/100.png">
    <h4><a href="/members/{{name}}">{{name}}</a></h4>
    {{#each profile}}

    {{/each}}
</div>
<div class="col-sm-8 col-xs-12">
    <h3>{{name}}'s Structures</h3>
    {{#each structures}}
        <div class="project">
            <div class="img-container">
                <img class="img-project" src="/{{screenshot}}"/>
            </div>
            <div class="project-text">
                <h4 class="project-title"><a href="/structure/{{name}}">{{title}}</a></h4>
                <p><strong>{{votes}}</strong> Votes
                    <br><strong>{{downloads}}</strong> Downloads
                    <br>Posted about {{elapsed created}}
            </div>
        </div>
    {{/each}}
</div>