<h2>Edit Profile:</h2>
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                </li>
                <li role="presentation">
                    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Account Settings</a>
                </li>
                <li role="presentation">
                    <a href="#avatar" aria-controls="avatar" role="tab" data-toggle="tab">Avatar</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <form id="profileForm" action="/account/submit/profile" method="post">
                        <h3>Edit your Profile:</h3>
                        <div class="form-group">
                            <label for="summernote">About Me:</label>
                            <small>A small biography for your profile page.</small>
                            <div id="summernote">{{{content}}}</div>
                        </div>
                        <textarea id="content" title="content" name="content" style="display: none"></textarea>
                        <h4>Social Links:</h4>

                        <div class="form-group">
                            <label for="website">Personal Website:</label>
                            <input name="website" class="form-control" id="website" type="text" value="{{website}}">
                        </div>
                        <div class="form-group">
                            <label for="twitter">Twitter Handle:</label>
                            <input name="twitter" class="form-control" id="twitter" type="text" value="{{twitter}}">
                        </div>
                        <div class="form-group">
                            <label for="youtube">Youtube Channel:</label>
                            <input name="youtube" class="form-control" id="youtube" type="text" value="{{youtube}}">
                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">
                    <h3>Change your Account Settings</h3>
                    <p>Email: {{email}}</p>
                    <form id="settingsForm" action="/account/submit/settings" method="post">
                        <div class="form-group"><label for="currentPassword">Current Password:</label>
                            <input required name="currentPassword" id="currentPassword" type="text"
                                   class="form-control">
                        </div>
                        <div class="form-group"><label for="newPassword">New Password:</label>
                            <input required name="newPassword" id="newPassword" type="text" class="form-control">
                        </div>
                        <div class="form-group"><label for="newPasswordConfirm">Confirm New Password:</label>
                            <input required name="newPasswordConfirm" id="newPasswordConfirm" type="text"
                                   class="form-control">
                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="avatar">
                    <h3>Change your Avatar</h3>
                    <h4>Avatar:</h4>
                    <form id="avatarForm" action="/account/submit/avatar" method="post" enctype="multipart/form-data">
                        <img src="https://minotar.net/avatar/{{username}}/64.png">
                        <br>
                        <label for="avatar" class="control-label">
                            <br>Change your avatar <input type="file" accept="image/*" name="avatar" id="avatar"
                                                          onchange="loadFile(event)">
                        </label>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="col-sm-4 col-xs-12">

    </div>
</div>


<script src="/js/bootstrap.min.js"></script>
<script src="/js/summernote.min.js"></script>
<script type="text/javascript">
    $("#profileForm").submit(function (event) {
        var markupStr = $('#summernote').summernote('code');
        $("textarea#content").html(markupStr);
        $("content-edit").submit();
    });

    $(document).ready(function () {
        $('#summernote').summernote({
            styleTags: ['p', 'h2', 'h3', 'h4', 'h5', 'blockquote'],
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['para', ['ul', 'ol', 'paragraph']]

            ],
            minHeight: 150,
            maxHeight: null,
            focus: true
        });
        $('#profile').tab('show');
    });

    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };

</script>