<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h2 class="text-center login-title">Registration Details
            <div class="signup-wall">
                <form action="/account/signup" method="POST" class="form-signin">
                    <input type="text" name="username"
                           placeholder="Username"
                           required="required"
                           autofocus="autofocus"
                           class="form-control"/>
                    <input
                            type="password" name="password" placeholder="Password" required="required"
                            class="form-control nomargin"/>
                    <input type="email" name="email" placeholder="Email"
                           required="required" class="form-control"/>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                    <span class="clearfix"></span></form>
            </div>
            {{#if message}}
                <div id="message">{{message}}</div>
            {{/if}}

        </h2>
    </div>
</div>
