<div class="row">
    <div class="col-sm-8 col-xs-12">
        <div class="row">

            <div class="col-md-12">
                <div class="voting">
                    {{#if userHasVoted}}
                        <div id="arrow" class="arrow pressed"></div>

                    {{else}}
                        <div id="arrow" class="arrow"></div>
                    {{/if}}
                    <p class="numVotes">{{numVotes}}</p>
                </div>
                <h2 class="title-structure">{{structureName}}</h2>
                <img src="/{{{screenshot}}}" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <h3>Structure Description:</h3>
                {{{description}}}

                <span>Tags:</span>
                {{tags}}
            </div>
            <div class="col-sm-4 col-xs-12">
                <h4>Author:</h4>
                <p><a href="/member/{{author}}">{{author}}</a></p>
                <h4>Download:</h4>
                <a href="/{{structure}}">NBT Structure File</a>
            </div>
        </div>
        <div class="row">
            <!--comments-->
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 sidebar">
        <h3>More Structures by {{author}}</h3>
        {{#each otherWork}}
            <div class="project">
                <div class="img-container">
                    <img class="img-project" src="/{{screenshot}}"/>
                </div>
                <div class="project-text">
                    <h4 class="project-title"><a href="/structure/{{name}}">{{title}}</a></h4>
                    <p>Posted about {{elapsed created}}
                        <br>By <a href="/member/{{author}}">{{author}}</a></p>
                </div>
            </div>
        {{/each}}
        <h3>Statistics</h3>
        <p><strong>{{stats}}</strong> Structures in the Database</p>
    </div>
</div>
<div id="registerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You need to be logged in to vote on structures.</h4>
            </div>
            <div class="modal-body row">
                <div class="col-sm-6 col-xs-12">
                    <h5>Register</h5>
                    <form action="/account/signup" method="POST" class="form-signin">
                        <div class="form-group">
                            <input type="text" name="username"
                                   placeholder="Username"
                                   required="required"
                                   autofocus="autofocus"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input
                                    type="password" name="password" placeholder="Password" required="required"
                                    class="form-control nomargin"/>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email"
                                   required="required" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-primary ">Register</button>
                        <span class="clearfix"></span></form>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h5>Log in</h5>
                    <form action="/account/login" method="POST" class="form-signin">
                        <div class="form-group"><input type="text" name="username"
                                                       placeholder="Username"
                                                       required="required"
                                                       autofocus="autofocus"
                                                       class="form-control"/></div>
                        <div class="form-group"><input
                                type="password" name="password" placeholder="Password" required="required"
                                class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <span class="clearfix"></span></form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
        {{#if username}}
        var numVotes = $(".numVotes");
            {{#if userHasVoted}}
            var downvoted = false;
            $(".arrow").click(function (event) {
                var reference = this;

                if (!downvoted) {
                    $.post(
                            "/downvote",
                            {structure: "{{name}}"}
                    ).done(function (data) {
                        var result = JSON.parse(data);
                        $(".numVotes").html(result['count']);
                    }).fail(function () {
                    }).always(function () {
                    });
                    $(reference).removeClass('pressed');
                    downvoted = true;
                }
                else {
                    $.post(
                            "/upvote",
                            {structure: "{{name}}"}
                    ).done(function (data) {
                        var result = JSON.parse(data);
                        $(".numVotes").html(result['count']);
                    }).fail(function () {

                    }).always(function () {

                    });
                    $(reference).addClass('pressed');
                    downvoted = false;
                }
            });
            {{else}}
            var upvoted = false;
            $(".arrow").click(function (event) {
                var reference = this;
                if (!upvoted) {
                    $.post(
                            "/upvote",
                            {structure: "{{name}}"}
                    ).done(function (data) {
                        var result = JSON.parse(data);
                        $(".numVotes").html(result['count']);
                    }).fail(function () {
                    }).always(function () {
                    });
                    $(reference).addClass('pressed');
                    upvoted = true;
                } else {
                    $.post(
                            "/downvote",
                            {structure: "{{name}}"}
                    ).done(function (data) {
                        var result = JSON.parse(data);
                        $(".numVotes").html(result['count']);
                    }).fail(function () {
                    }).always(function () {
                    });
                    $(reference).removeClass('pressed');
                    upvoted = false;
                }

            });

            {{/if}}
        {{else}}
        //modal code to be implemented
        // for now
        $(".arrow").click(function (event) {
            $("#registerModal").modal('show');
        });
        {{/if}}
</script>
