.userBox {
  text-align: right;
  background: $themeColor;
}

.userBoxText {
  display: inline-block;
  margin-right: 5px;
}

.userBox img {
  float: right;
}

.userBoxText h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.userBoxText a:hover, .userBoxText a:focus {
  text-decoration: none;
}

.project {
  background-color: lighten($themeColor, 5%);
  display: block;
  height: 90px;
  margin: 10px 0;
}

.img-container {
  float: left;
  width: 160px;
  height: 80px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.project-text {
  padding-left: 5px;
  overflow: hidden;
}

h4.project-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}

.img-result {
  float: left;
  height: 160px;
}

.result-info {
  padding: 0px 20px;
  display: inline-block;
}

.result-info h3 {
  margin-top: 5px;
}