#featuredCarousel{

}
#featuredCarousel .item{
  max-height: 300px;
}
#featuredCarousel .item img{
  overflow: hidden;
}
#featuredCarousel .item a{
  color: #eee;
}
#featuredCarousel .item a:hover{
  color: #337ab7;
  text-decoration: none;
}
#featuredCarousel .item p{

}
.carousel-control{

}
.carousel-control.left.carousel-control.right{
  background-image: none;
}
.carousel-control.left:hover.carousel-control.right:hover{
  background-image: none;
}