/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .project{
    height: 100%;
    margin: 0;
  }
  .img-container{
    height: 100%;
    width: 100%;
    float: none;
  }
  .project-text{
    padding: 0;
  }

  #featuredCarousel .item{
    max-height: 220px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}