.wrap .container {
  padding: 20px 40px;
}

header {
  background: #eeeeee;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #101010;
  color: #eee;
}

.sidebar {
  background: #eee;
}

ul.profile{
  list-style-type: none;
  padding-left: 0;
}