body {
  font-family: "Lato", sans-serif;
  background: #eee;
}
h1, h2, h3 {
  font-weight: 700;
}
header h1 {
  margin-top: 0;
}
footer .legal-links a{
  padding: 10px;
}
.title-structure{
  margin-top: 0;
}
