.arrow{
  background: url('/images/arrow-sprite.png');
  background-size: 16px;
  height: 16px;
  width: 16px;
  background-position: 0 0;
}
.pressed{
  background-position: 0 16px;
}

.numVotes {
  font-size: 14px;
  text-align: center;
  font-weight: 900;
}
#arrow{

}
.voting{
  float: left;
  margin: 0 10px 0 0;
}